---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - b7b00cc8468119239b04199a7519d3d2a3d14d32
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '14915'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 03 Dec 2021 18:29:24 GMT
recorded_with: VCR 6.0.0
