<%= button_to "Discover Page", discover_show_path(@user), method: :get %><br>

<h2>Movie Results for: <%= params[:title] %></h2>

<div id="searchedmovies">
  <% @movies.each do |movie| %>
    <%= link_to movie.title, movie_show_path(@user, movie.id) %> Vote Average: <%= movie.vote_average %><br>
  <% end %>
</div>
