  <h1>Welcome to Viewing Party!</h1>

  <p>Viewing Party allows you to explore movies and create a viewing party event for you and your friends to watch a movie together.</p>

  <%= link_to "New to Viewing Party? Register Here", register_path %>
